# Backend
backend/node_modules/
backend/.env
backend/.env.local
backend/dist/
backend/build/

# Frontend
frontend-skripsi/node_modules/
frontend-skripsi/dist/
frontend-skripsi/dist-ssr/
frontend-skripsi/dev-dist/
frontend-skripsi/build/
frontend-skripsi/.env
frontend-skripsi/.env.local
frontend-skripsi/*.local

# General
.DS_Store
.vscode/
.idea/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.*.local
